<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bme.aut.fitnessapp">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewPublicLocationDetails"
            android:label="@string/title_activity_view_public_location_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditPublicLocationActivity"
            android:label="@string/title_activity_edit_public_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SavePublicLocationActivity"
            android:label="@string/title_activity_save_public_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewPublicLocationActivity"
            android:label="@string/title_activity_new_public_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeightActivity2"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".broadcast_receiver.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast_receiver.NotificationReceiver" />
        <receiver android:name=".broadcast_receiver.ResetWaterReceiver" />

        <activity
            android:name=".GymMainActivity"
            android:label="@string/title_activity_gym_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WaterActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeightActivity"
            android:label="@string/title_activity_weight"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExerciseListActivity"
            android:label="@string/title_activity_exercise_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExerciseInfoActivity"
            android:label="@string/title_activity_exercise_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MeasurementsActivity"
            android:label="@string/title_activity_measurements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MeasurementsGraphActivity"
            android:label="@string/title_activity_measurements_graph"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WarmUpActivity"
            android:label="@string/title_activity_warm_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StretchActivity"
            android:label="@string/title_activity_stretch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD_NhbLT019LebtUcR82c96rvKBhPP4rPs" />
    </application>

</manifest>