<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hu.bme.aut.fitnessapp">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false"
        >
        <activity
            android:name=".Controllers.User.Workout.StretchWarmUpActivity"
            android:label="@string/title_activity_stretch_warm_up"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver
            android:name=".BroadcastReceivers.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Controllers.InternetCheckActivity"
            android:label="@string/title_activity_internet_check"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Water.WaterActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".BroadcastReceivers.ResetWaterService"
            android:exported="false" />

        <activity
            android:name=".Controllers.User.Locations.ViewPublicLocationDetailsActivity"
            android:label="@string/title_activity_view_public_location_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.Gym.EditPublicLocationActivity"
            android:label="@string/title_activity_edit_public_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Locations.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Locations.SavePublicLocationActivity"
            android:label="@string/title_activity_save_public_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.Gym.NewPublicLocationActivity"
            android:label="@string/title_activity_new_public_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Weight.WeightActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".BroadcastReceivers.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BroadcastReceivers.NotificationReceiver" />
        <receiver android:name=".BroadcastReceivers.ResetWaterReceiver" />

        <activity
            android:name=".Controllers.Gym.GymMainActivity"
            android:label="@string/title_activity_gym_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.Startup.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Workout.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Settings.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Locations.LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Workout.ExerciseListActivity"
            android:label="@string/title_activity_exercise_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Workout.ExerciseInfoActivity"
            android:label="@string/title_activity_exercise_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Measurements.MeasurementsActivity"
            android:label="@string/title_activity_measurements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Measurements.MeasurementsGraphActivity"
            android:label="@string/title_activity_measurements_graph"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Workout.WarmUpActivity"
            android:label="@string/title_activity_warm_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.User.Workout.StretchActivity"
            android:label="@string/title_activity_stretch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.Startup.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.Startup.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD_NhbLT019LebtUcR82c96rvKBhPP4rPs" />
    </application>

</manifest>